<style>
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
</style>
<div class="container">
	<br>  <p class="text-center">{{pbcctrl.product.name}}</p>
<hr>

	
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="#"><img src="img/4-1.jpg"></a></div>
</div> <!-- slider-product.// -->
<div class="img-small-wrap">
  <div class="item-gallery"> <img src="img/5-100x100.jpg"> </div>
  <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
  <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
  <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
<uib-tabset class="tabbable" active="active">
	<uib-tab index="0" heading="Static title">
		<h4>Static content</h4>
		<p>
			Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
		</p>
		<p>
			Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
		</p>
	</uib-tab>
	<uib-tab index="2" select="alertMe()">
		<uib-tab-heading>
			<i class="glyphicon glyphicon-bell"></i> Alert!
		</uib-tab-heading>
		I've got an HTML heading, and a select callback. Pretty cool!
	</uib-tab>
</uib-tabset>
		</aside>
		<aside class="col-sm-7">
				<div class="panel panel-transparent">
						<div class="panel-heading">
							<h6 class="panel-title">choose paper and quantity</h6>
						</div>
						<div class="panel-body">
							<v-accordion class="vAccordion--default" control="firstAccordionControl">
								<v-pane id="{{pane.header}}" ng-repeat="pane in pbcctrl.pandq" expanded="$first">
									<v-pane-header>
										<h5>{{ pane.header }}</h5>
									</v-pane-header>
									<v-pane-content>
										<p>
											<ul class="list-group">
												{{pane.content}}
												<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="item in pane.content" >
													<input type="radio" class="form-check-input" name="optradio">{{item}}
													<span class="badge badge-primary badge-pill">14</span>
												</li>
												
											</ul>
										</p>
										<v-accordion ng-if="pane.subpanes">
											<v-pane ng-repeat="subpane in pane.subpanes">
												<v-pane-header>
													<h5>{{ subpane.header }}</h5>
												</v-pane-header>
												<v-pane-content>
													<p>
														{{ subpane.content }}
													</p>
												</v-pane-content>
											</v-pane>
										</v-accordion>
									</v-pane-content>
								</v-pane>
							</v-accordion>
						</div>
					</div>
					<div class="panel panel-transparent">
						<div class="panel-heading">
							<h6 class="panel-title">choose treatments(optional)</h6>
						</div>
						<div class="panel-body">
							<v-accordion class="vAccordion--default" control="firstAccordionControl">
								<v-pane ng-repeat="pane in pbcctrl.treatments">
									<v-pane-header>
										<h5>{{ pane.header }}</h5>
									</v-pane-header>
									<v-pane-content>
										<p>
											{{ pane.content }}
										</p>
										<v-accordion ng-if="pane.subpanes">
											<v-pane ng-repeat="subpane in pane.subpanes">
												<v-pane-header>
													<h5>{{ subpane.header }}</h5>
												</v-pane-header>
												<v-pane-content>
													<p>
														{{ subpane.content }}
													</p>
												</v-pane-content>
											</v-pane>
										</v-accordion>
									</v-pane-content>
								</v-pane>
							</v-accordion>
						</div>
					</div>
					<div class="panel panel-transparent">
						<div class="panel-heading">
							<h6 class="panel-title">choose addons(optional)</h6>
						</div>
						<div class="panel-body">
							<v-accordion class="vAccordion--default" control="firstAccordionControl">
								<v-pane ng-repeat="pane in pbcctrl.addons">
									<v-pane-header>
										<h5>{{ pane.header }}</h5>
									</v-pane-header>
									<v-pane-content>
										<p>
											{{ pane.content }}
										</p>
										<v-accordion ng-if="pane.subpanes">
											<v-pane ng-repeat="subpane in pane.subpanes">
												<v-pane-header>
													<h5>{{ subpane.header }}</h5>
												</v-pane-header>
												<v-pane-content>
													<p>
														{{ subpane.content }}
													</p>
												</v-pane-content>
											</v-pane>
										</v-accordion>
									</v-pane-content>
								</v-pane>
							</v-accordion>
						</div>
					</div>
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->


</div>
<!--container.//-->


<br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h4 class="text-white">HTML UI KIT <br> Ready to use Bootstrap 4 components and templates </h4>
<p class="h5 text-white"> for Ecommerce, marketplace, booking websites 
and product landing pages</p>   <br>
<p><a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com  
 <i class="fa fa-window-restore "></i></a></p>
</div>
<br><br><br>
</article>
