<style>
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
	float:right;
	width:50px;
	}
</style>
<div class="container-fluid">
	<br>  <p class="text-center">{{pbcctrl.product.name}}</p>
<hr>

	
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="#"><img src="images/products/{{pbcctrl.selected.id}}/1.jpg"></a></div>
</div> <!-- slider-product.// -->
<div class="img-small-wrap">
  <div class="item-gallery"> <img src="images/products/{{pbcctrl.selected.id}}/1.jpg"> </div>
  <div class="item-gallery"> <img src="images/products/{{pbcctrl.selected.id}}/2.jpg"> </div>
  <div class="item-gallery"> <img src="images/products/{{pbcctrl.selected.id}}/3.jpg"> </div>
  <div class="item-gallery"> <img src="images/products/{{pbcctrl.selected.id}}/4.jpg"></div>
</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
<uib-tabset class="tabbable" active="active">
	<uib-tab index="0" heading="Description">
		<section ng-bind-html="pbcctrl.description"></section>
	</uib-tab>
	<uib-tab index="1" select="alertMe()">
			<uib-tab-heading>
				<i class="glyphicon glyphicon-bell"></i> Additional Info
			</uib-tab-heading>
			<section ng-bind-html="pbcctrl.additionalInfo"></section>
			
		</uib-tab>
		<uib-tab index="2">
				<uib-tab-heading>
					<i class="glyphicon glyphicon-bell"></i> How To Order
				</uib-tab-heading>
				{{pbcctrl.howToOrder}}
			</uib-tab>
			<uib-tab index="3">
					<uib-tab-heading>
						<i class="glyphicon glyphicon-bell"></i> FAQ
					</uib-tab-heading>
					<section ng-bind-html="pbcctrl.faq"></section>
				
				</uib-tab>
			<uib-tab index="4">
								<uib-tab-heading>
									<i class="glyphicon glyphicon-bell"></i> Reviews
								</uib-tab-heading>
								{{pbcctrl.reviews}}
							</uib-tab>
			<uib-tab index="5">
									<uib-tab-heading>
										<i class="glyphicon glyphicon-bell"></i> Payment Options
									</uib-tab-heading>
									{{pbcctrl.paymentOptions}}
			</uib-tab>
</uib-tabset>
		</aside>
		<aside class="col-sm-7">
				<p class="mb-2 sticky-top bg-success border float-md-right">₹{{pbcctrl.selected.totalPrice}}</p>		
				<div class="panel panel-transparent clearfix">
						<div class="panel-heading">
							<h6 class="panel-title">choose paper and quantity</h6>
						</div>
						<div class="panel-body">
							<v-accordion class="vAccordion--default" control="firstAccordionControl">
								<v-pane id="{{pane.header}}" ng-repeat="pane in pbcctrl.pandq" expanded="$first">
									<v-pane-header class="col-md-9">
											<ol class="breadcrumb pb-0">
													<li class="breadcrumb-item"><h3 class="d-inline text-capitalize">{{ pane.header }}</h3></li>
													<li class="breadcrumb-item">	<h5 class="d-inline float-right text-monospace">{{pbcctrl.selected[pane.header]}}</h5></li>
													<li class="breadcrumb-item active"><h5 class="d-inline float-right bg-info" ng-if="pbcctrl.selected.labels[pane.header].price">₹{{pbcctrl.selected.labels[pane.header].price}}</h5></li>
											</ol>
										
									</v-pane-header>
									<v-pane-content>
										<p>
											<ul class="list-group col-md-9">
												<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="(key,item) in pane.content" >
													<input type="radio" class="form-check-input" name="{{pane.header}}" ng-value="key" ng-model="pbcctrl.selected[pane['header']]" ng-change="pbcctrl.updatePrice(pane.header);">{{item}}
													<span class="badge badge-primary badge-pill">14</span>
												</li>
												
											</ul>
										</p>
										<v-accordion ng-if="pane.subpanes">
											<v-pane ng-repeat="subpane in pane.subpanes">
												<v-pane-header>
													<h5>{{ subpane.header }}</h5>
												</v-pane-header>
												<v-pane-content>
													<p>
														{{ subpane.content }}
													</p>
												</v-pane-content>
											</v-pane>
										</v-accordion>
									</v-pane-content>
								</v-pane>
							</v-accordion>
						</div>
					</div>
					<div class="panel panel-transparent">
						<div class="panel-heading">
							<h6 class="panel-title">choose treatments(optional)</h6>
						</div>
						<div class="panel-body">
							<v-accordion class="vAccordion--default" control="firstAccordionControl">
								<v-pane ng-repeat="pane in pbcctrl.treatments">
									<v-pane-header>
										<h5 class="d-inline">{{ pane.header | uppercase }}</h5>
										<span class="float-right" style="font-size:.6em" ng-if="pbcctrl.selected.treatments[pane.header]">{{pbcctrl.selected.labels[pane.header].label}}</span><span class="float-right" style="font-size:.6em" ng-if="pbcctrl.selected.labels[pane.header].price">₹{{pbcctrl.selected.labels[pane.header].price}}</span>
									</v-pane-header>
									<v-pane-content>
										<div class="col-md-12 row">
											<div class="col-md-12" ng-if="pane.single">
													<ul class="list-group">
															<li class="list-group-item d-flex justify-content-between align-items-center">
																	<input type="radio" class="form-check-input" name="{{pane.header}}" ng-value="" ng-model="pbcctrl.selected.treatments[pane['header']]" ng-change="pbcctrl.updatePrice();">None
																	
																</li>
															<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="(key,item) in pane.content" >
															<input type="radio" class="form-check-input" name="{{pane.header}}" ng-value="key" ng-model="pbcctrl.selected.treatments[pane['header']]" ng-change="pbcctrl.updatePrice();">{{item}}
															<span class="badge badge-primary badge-pill">14</span>
														</li>
														
													</ul>
											
											</div>
											<div class="col-md-6" ng-if="!pane.single">
											
											<p>Front Side</p>
											<ul class="list-group">
													<li class="list-group-item d-flex justify-content-between align-items-center">
															<input type="radio" class="form-check-input" name="{{pane.header}}_front" ng-value="" ng-model="pbcctrl.selected.treatments[pane['header']].front" ng-change="pbcctrl.updatePrice();">None
															
														</li>
													<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="(key,item) in pane.content" >
													<input type="radio" class="form-check-input" name="{{pane.header}}_front" ng-value="key" ng-model="pbcctrl.selected.treatments[pane['header']].front" ng-change="pbcctrl.updatePrice();">{{item}}
													<span class="badge badge-primary badge-pill">14</span>
												</li>
												
											</ul>
											{{pbcctrl.selected}}
											
												 
											
											</div>
											<div class="col-md-6" ng-if="!pane.single">
											
												<p>Back Side</p>
												<ul class="list-group">
														<li class="list-group-item d-flex justify-content-between align-items-center">
																<input type="radio" class="form-check-input" name="{{pane.header}}_back" ng-value="" ng-model="pbcctrl.selected.treatments[pane['header']].back" ng-change="pbcctrl.updatePrice();">None
																
															</li>
													<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="(key,item) in pane.content" >
														<input type="radio" class="form-check-input" name="{{pane.header}}_back" ng-value="key" ng-model="pbcctrl.selected.treatments[pane['header']].back" ng-change="pbcctrl.updatePrice();">{{item}}
														<span class="badge badge-primary badge-pill">14</span>
													</li>
													
												</ul>
												
												{{pbcctrl.selected}}	 
												
												</div>
										
									</v-pane-content>
								</v-pane>
							</v-accordion>
						</div>
					</div>
					<div class="panel panel-transparent">
						<div class="panel-heading">
							<h6 class="panel-title">choose addons(optional)</h6>
						</div>
						<div class="panel-body">
							<v-accordion class="vAccordion--default" control="firstAccordionControl">
								<v-pane ng-repeat="pane in pbcctrl.addons">
									<v-pane-header>
										<h5 class="d-inline">{{ pane.header | uppercase }}</h5><span class="float-right" style="font-size:.6em" ng-if="pbcctrl.selected[pane.header]">{{pbcctrl.selected.labels[pane.header].label}}</span><span class="float-right" style="font-size:.6em" ng-if="pbcctrl.selected.labels[pane.header].price">₹{{pbcctrl.selected.labels[pane.header].price}}</span>
									</v-pane-header>
									<v-pane-content>
											<p>
													<ul class="list-group">
															<li class="list-group-item d-flex justify-content-between align-items-center" ng-if="pane.header==='accessories'">
																	<input type="radio" class="form-check-input" name="{{pane.header}}" ng-value="" ng-model="pbcctrl.selected[pane['header']]" ng-change="pbcctrl.updatePrice();" >None
																	
																</li>
														<li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="(key,item) in pane.content" >
															<input type="radio" class="form-check-input" name="{{pane.header}}" ng-value="key" ng-model="pbcctrl.selected[pane['header']]" ng-change="pbcctrl.updatePrice();" >{{item}}
															<span class="badge badge-primary badge-pill">14</span>
														</li>
														
													</ul>
												</p>
										<v-accordion ng-if="pane.subpanes">
											<v-pane ng-repeat="subpane in pane.subpanes">
												<v-pane-header>
													<h5>{{ subpane.header }}</h5>
												</v-pane-header>
												<v-pane-content>
													<p>
														{{ subpane.content }}
													</p>
												</v-pane-content>
											</v-pane>
										</v-accordion>
									</v-pane-content>
								</v-pane>
							</v-accordion>
						</div>
						<button type="button" class="btn btn-secondary" ng-click="pbcctrl.addCart()">Add To Cart</button>
					</div>
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->

{{pbcctrl.selected}}
</div>
<!--container.//-->


<br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h4 class="text-white">HTML UI KIT <br> Ready to use Bootstrap 4 components and templates </h4>
<p class="h5 text-white"> for Ecommerce, marketplace, booking websites 
and product landing pages</p>   <br>
<p><a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com  
 <i class="fa fa-window-restore "></i></a></p>
</div>
<br><br><br>
</article>
