
  <div class="container pt-5">
      <div class="row">
         
        <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
           <h5  class="text-success">BUY</h5>
           <ul class="list-unstyled">
            <li><a ui-sref="public.bcards">Business Cards</a></li>
            <li><a ui-sref="public.designservices">Design Services</a></li>
            <li><a ui-sref="public.premiumsample">Premium sample</a></li>
            <li><a ui-sref="public.packing">Pack</a></li>
            <li><a href="#">Pack</a></li>
         </ul>
       </div>
        <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
           <h5   class="text-success">LINKS </h5>
           <ul class="list-unstyled">
            <li><a ui-sref="public.franchisee">Franchise</a></li>
            <li><a ui-sref="public.beanaffiliate">Be an affiliate</a></li>
            <li><a ui-sref="public.referandearn">Refer & Earn</a></li>
            <li><a ui-sref="public.startupcoupons">Startup Coupons</a></li>
            <li><a ui-sref="public.blog">Blog</a></li>
         </ul>
       </div>
        <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
           <h5  class="text-success">LEGAL</h5>
           <ul class="list-unstyled">
            <li><a ui-sref="public.refundpolicy">Refund Policy</a></li>
            <li><a ui-sref="public.happiness">Client Happiness</a></li>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
         </ul>
       </div>
        <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
           <h5 class="text-success">HE   LP</h5>
           <ul class="list-unstyled">
            <li><a ui-sref="public.howtoorder">How to order</a></li>
            <li><a ui-sref="public.filesetup">File setup</a></li>
            <li><a ui-sref="public.tracking">Order Tracking</a></li>
            <li><a ui-sref="public.getaquote">Get a Quote</a></li>
            <li><a ui-sref="public.faq">FAQ'S</a></li>
            <li><a ui-sref="public.treatments">Treatments</a></li>
            <li><a ui-sref="public.about">About us</a></li>
            <li><a ui-sref="public.contact">Contact us</a></li>
         </ul>
       </div>

       <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
          <h5  class="text-success">WEEKLY NEWSLETTER</h5>
        <div class="footers-info mt-3">

            <p>Sign up for our weekly newsletter & special offers.</p>


            <div class="form-group">
                <label class="col-md-12 control-label" for="email"></label>  
                <div class="col-md-12">
                <input id="email" name="email" type="text" placeholder=" Your Email" class="form-control input-md" required="">
               
                </div>
              </div>

              <div class="form-group">
                  <label class="col-md-12 control-label" for="submit"></label>
                  <div class="col-md-12">
                    <button id="submit" name="submit" type="submit" class="btn btn-success">Subscribe</button>
                   
                  </div>
                </div>
         
           
        </div>

        
        <div class="social-icons"> 
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
      </div>
    </div>
       
      </div>
  </div>
