  <!-- Start Header Top -->
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-12">
                  <div class="logo">
                      <a ui-sref="public.home">
                          <img src="../images/chhapai_logo.png" alt="logo images">
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-sm-12">
                 
              </div>
              <div class="col-md-3 col-sm-12">
                  <ul class="breadcrumb">
                      <li><a ui-sref="public.signin">SIGNIN</a></li>
                      <li><a ui-sref="public.register">REGISTER</a></li>
                      
                      
                    </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header Top -->
  <!-- Start Mainmenu Area -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ui-sref="public.bcards" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Business Cards
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
    
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                    <span class="text-uppercase text-white"> <a class="nav-link" ui-sref="public.premiumcards">PREMIUM CARDS</a></span</span>
                 
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.productbusinesscard({productname:'matt-finish'})">Matt Finish</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.productbusinesscard({productname:'soft-suede-finish'})">Soft Suede Finish</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.productbusinesscard({productname:'texture-finish'})">Texture Finish</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" ui-sref="public.productbusinesscard({productname:'uncoated-finish'})">Uncoated Finish</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="public.productbusinesscard({productname:'pearl-finish'})">Pearl Finish</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" ui-sref="public.productbusinesscard({productname:'sandwich-finish'})">Sandwich Finish</a>
                        </li>
                </ul>
                </div>
                <div class="col-md-3">
                    <span class="text-uppercase text-white"><a class="nav-link" ui-sref="public.envirocards">ENVIRO CARDS</a></span>                  
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link " ui-sref="public.productbusinesscard({productname:'brown-kraft'})">Brown Kraft</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" ui-sref="public.productbusinesscard({productname:'100%-recycle'})">100% Recycle</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" ui-sref="public.productbusinesscard({productname:'wool-finish'})">Wool Finish</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " ui-sref="public.productbusinesscard({productname:'black-suede'})">Black Suede</a>
                  </ul>
                </div>
                <div class="col-md-3">
                    <span class="text-uppercase text-white"><a class="nav-link" ui-sref="public.bespokecards">BESPOKE CARDS</a></span>
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link " ui-sref="public.productbusinesscard({productname:'electroplated'})">Electroplated</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.productbusinesscard({productname:'embossed'})">Embossed</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.productbusinesscard({productname:'embossed-spot-gloss'})">Embossed Spot Gloss</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " ui-sref="public.productbusinesscard({productname:'foiling'})">Foiling</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" ui-sref="public.productbusinesscard({productname:'letterpress'})">Letterpress</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" ui-sref="public.productbusinesscard({productname:'edgepaint'})">Edgepaint</a>
                    </li>
                </ul>
                </div>
                <div class="col-md-3">
                    <span class="text-uppercase text-white"><a class="nav-link" ui-sref="public.uniquecards">UNIQUE CARDS</a></span>
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link " ui-sref="public.productbusinesscard({productname:'laser-cut-shaped-cards'})">Laser cut Shaped Cards</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.productbusinesscard({productname:'wood-cards'})">Wood Cards</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.productbusinesscard({productname:'acrylic-cards'})">Acrylic Cards</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " ui-sref="public.productbusinesscard({productname:'board-cards'})">Board Cards</a>
                    </li>
            <!--  /.container  -->
  
  
          </div>
                </div>
                </div>
                </div>
          
         <!--  Design  -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Design
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
            
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <span class="text-uppercase text-white">DESIGN SERVICE</span>
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" ui-sref="public.businesscardsdesign">Business Cards Design</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.businesscardslogodesign">Business Cards Logo Design</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.businesscardstemplatedesign">Design Using Templates</a>
                  </li>
                </ul>
                </div>
               
  
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Good Things
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
  
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                 
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" ui-sref="public.notebook">NOTEBOOK</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="public.coaters">COATERS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="public.accessories">ACCESSORIES</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" ui-sref="public.businesscardholders">BUSINESS CARDS HOLDERS</a>
                </li>
            </ul>
                </div>
               
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Become a Partner
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">


            <div class="container">
              <div class="row">
                <div class="col-md-4">
                 
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link " ui-sref="public.franchisee">FRANCHISE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" ui-sref="public.reseller">RESELLER</a>
                  </li>
                  
                </ul>
                </div>
                </div></div>
                </div>
                
                
              
  
        </li>
        
          <!-- sample -->
        <li class="nav-item">
          <a class="nav-link" ui-sref="public.samplepack"  role="button"  aria-haspopup="true" aria-expanded="false">
            Sample Pack
          </a>
          </li>

              <!-- Helps -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" ui-sref="public.help" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Help
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    
    
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                   
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link " ui-sref="public.howtoorder">How To ORDER</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" ui-sref="public.filesetup">File Setup</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" ui-sref="public.tracking">Tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="public.treatments">Treatments</a>
                      </li>
                  </ul>
                  </div>
                  <div class="col-md-4">
                                       
                    <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link " ui-sref="public.getaquote">Get A Quote</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" ui-sref="public.about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" ui-sref="public.contact">Contact</a>
                    </li>
                    
                  </ul>
                  </div>
                  </div>
                  </div>
                  </div>

                </li>
  
      </ul>
    
  
  
  </nav>

  