  <!-- Start Header Top -->
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-12">
                  <div class="logo">
                      <a ui-sref="public.home">
                          <img src="images/chhapai_logo.png" alt="logo images">
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-sm-12">
                 
              </div>
              <div class="col-md-3 col-sm-12">
                  <ul class="breadcrumb">
                      <li><a ui-sref="public.signin">SIGNIN</a></li>
                      <li><a ui-sref="public.register">REGISTER</a></li>&nbsp;
                      <li><a ui-sref="public.register"><i class="fa fa-shopping-cart" style="font-size:25px" aria-hidden="true"></i></a></li>
                      
                      
                    </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header Top -->
  <!-- Start Mainmenu Area -->
 <!-- navigation -->
 <nav class="navbar navbar-expand-lg demo-3" data-ng-include=" 'src/public/partials/navbar.html' ">
</nav><!-- navigation -->

  