  <div class="container position-relative">
    <a class="navbar-brand" href="index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars iconbar"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu mega-cat-dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-male mr-1"></i>
                Mens' Wear
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/blue-shirt.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Blue T-shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/red-shirt.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Red T-shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/casual-t-shirt-.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Blue T-shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/shirt.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Blue T-shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jacket-1.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Jacket-1</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jacket-2.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Jacket-2</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jacket-3.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Jacket-3</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jacket-4.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Jacket-3</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-female mr-1"></i>
                Women's Wear
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/women-shirt-1.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women T-Shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/women-shirt-2.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women T-Shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/trench-coat.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women T-Shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/coat.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women T-Shirt</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jeans-1.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women Jeans</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jeans-2.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women Jeans</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jeans-3.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women Jeans</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/jeans-4.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Women Jeans</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-child mr-1"></i>
                Baby's Wear
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/train.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/teddy-bear.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/duckling.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/kid-teddy-bear-.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/teddy-bear(1).png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/duck.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/pistol.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure class="baby-toys-image">
                        <img src="assets/images/christmas.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Teddy</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-laptop mr-1"></i>
                Electronics
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/light-bulb.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Light Bulb</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/smartphone.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>SmartPhone</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/camera.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Camera</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/gamepad.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Gamepad</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/pc-computer-with-monitor.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Computer</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/wifi.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Wifi</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/computer.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Computer</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center mb-3 mt-3">
                      <figure>
                        <img src="assets/images/idea.png" class="img-fluid" alt="image">
                      </figure>
                      <h6>Bulb</h6>
                      <div class="new-price text-muted">$18.00 <span>$25.00</span> </div>
                      <a href="#" class="add-to-cart">Add To Cart</a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Accessories
          </a>
          <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h6 class="shop-heading font-weight-bold mt-3 mb-0">Popular Items</h6>
                </div>
              </div>
              <div class="row shop-dropdown-list">
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link active  border-0" href="#">
                        <img src="assets/images/usb.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Usb</a></h6>
                        <span class="price">$14.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link active  border-0" href="#">
                        <img src="assets/images/sim-card.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-2">
                        <h6><a href="#">Sim Card</a></h6>
                        <span class="price">$10.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/recharge.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Power Bank</a></h6>
                        <span class="price">$18.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/battery.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Mobile Battery</a></h6>
                        <span class="price">$17.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <div class="dropdown-divider"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-12"><h6 class="shop-heading font-weight-bold mt-3 mb-0">Trending Items</h6></div>
              </div>
              <div class="row shop-dropdown-list">
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link active" href="#">
                        <img src="assets/images/smartphone-2.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Mobile Phone</a></h6>
                        <span class="price">$26.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/tablet.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Tablet</a></h6>
                        <span class="price">$23.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/printer.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Printer</a></h6>
                        <span class="price">$23.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/mouse-clicker.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Mouse</a></h6>
                        <span class="price">$20.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <div class="dropdown-divider"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-12"><h6 class="shop-heading font-weight-bold mt-3 mb-0">Featured Items</h6></div>
              </div>
              <div class="row shop-dropdown-list">
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/keyboard.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Keyboard</a></h6>
                        <span class="price">$20.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/database.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Storage</a></h6>
                        <span class="price">$19.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/data-cable.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Data Cable</a></h6>
                        <span class="price">$19.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      <a class="nav-link  border-0" href="#">
                        <img src="assets/images/hard-disk.png" class="img-fluid" alt="image">
                      </a>
                      <div class="ml-3">
                        <h6><a href="#">Hard Disk</a></h6>
                        <span class="price">$19.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
                    <h6 class="product-heading">Men's</h6>
                    <ul class="list-unstyled product-dropdown-list">
                      <li><a href="#">Trouser</a></li>
                      <li><a href="#">T-Shirts</a></li>
                      <li><a href="#">Shoes</a></li>
                      <li><a href="#">Sandal</a></li>
                      <li><a href="#">Coat</a></li>
                      <li><a href="#">Blazer</a></li>
                      <li><a href="#">Watch</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
                    <h6 class="product-heading">Women's</h6>
                    <ul class="list-unstyled product-dropdown-list">
                      <li><a href="#">Trouser</a></li>
                      <li><a href="#">T-Shirts</a></li>
                      <li><a href="#">Shoes</a></li>
                      <li><a href="#">Sandal</a></li>
                      <li><a href="#">Coat</a></li>
                      <li><a href="#">Blazer</a></li>
                      <li><a href="#">Watch</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
                    <h6 class="product-heading">Baby's</h6>
                    <ul class="list-unstyled product-dropdown-list">
                      <li><a href="#">Tie</a></li>
                      <li><a href="#">Belt</a></li>
                      <li><a href="#">Shoes</a></li>
                      <li><a href="#">Sandal</a></li>
                      <li><a href="#">Coat</a></li>
                      <li><a href="#">Blazer</a></li>
                      <li><a href="#">Watch</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-3 mt-md-3 mb-md-3 mt-lg-3 mb-lg-3">
                    <h6 class="product-heading">New Products</h6>
                    <ul class="list-unstyled product-dropdown-list">
                      <li>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item">
                              <div class="img-thumbnail">
                                <img class="d-block w-100" src="assets/images/product-9.jpeg" alt="First slide">
                                <h6 class="mt-2 font-weight-bold">Products</h6>
                                <p>Voluptatem reiciendis minima enim labore incidunt suscipit, eum quod adipisci sed, corporis ipsa ab. Repudiandae, vero impedit mollitia non amet, cupiditate beatae!</p>
                              </div>
                            </div>
                            <div class="carousel-item active">
                             <div class="img-thumbnail">
                              <img class="d-block w-100" src="assets/images/product-8.jpg" alt="Second slide">
                              <h6 class="mt-2 font-weight-bold">Products</h6>
                              <p>Molestiae velit, dolorem asperiores eos sequi reprehenderit, ullam unde impedit ipsa sit voluptatum laboriosam veritatis minima mollitia deserunt? Vitae quaerat rerum, eius.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="img-thumbnail">
                              <img class="d-block w-100" src="assets/images/product-7.jpeg" alt="Third slide">
                              <h6 class="mt-2 font-weight-bold">Products</h6>
                              <p>Nemo unde nisi modi, officiis nihil facilis mollitia aliquam at praesentium est laborum, ab quam explicabo error impedit, obcaecati distinctio adipisci velit.</p>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="fa fa-arrow-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="fa fa-arrow-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown position-relative">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="#" class="dropdown-item"><i class="fa fa-user mr-1"></i>Profile</a></li>
          <li><a href="#" class="dropdown-item"><i class="fa fa-heart mr-1"></i>My Wishlist</a></li>
          <li><a href="#" class="dropdown-item"><i class="fa fa-sign-in mr-1"></i>Sign In</a></li>
          <li><a href="#" class="dropdown-item"><i class="fa fa-sign-out mr-1"></i>Logout</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="search-link"><i class="fa fa-search"></i></a>
      </li>
    </ul>
  </div>
</ul>
</div><!-- container -->
