  
  
  <div class="container position-relative">
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Business Cards
          </a>
          <ul class="dropdown-menu mega-cat-dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" ui-sref="public.bcards" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
                PREMIUM CARDS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row mr-2">
                      <div class="col-lg-3 col-md-3 text-center my-3 ">
                     
                          <figure>
                              <a ui-sref="public.productbusinesscard({productname:'matt-finish'})">
                              <img src="images/megaimg\premium\1.jpg" class="img-fluid" alt="image">
                            </figure>
                         Matt Finish</a>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center my-3 ">
                         
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'soft-suede-finish'})" >
                                <img src="images/megaimg\premium\2.jpg" class="img-fluid" alt="image">
                              </figure>
                          Soft Suede Finsh</a>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center my-3 ">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'texture-finish'})">
                                <img src="images/megaimg\premium\3.jpg" class="img-fluid" alt="image">
                              </figure>
                          Texture Finsh</a>
                        </div>
    
                       
                        <div class="col-lg-3 col-md-3 text-center my-3 ">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'uncoated-finish'})" >
                                <img src="images/megaimg\premium\4.jpg" class="img-fluid" alt="image">
                              </figure>
                         Uncoated Finish</a>
                        </div>
    
    
                        <div class="col-lg-3 col-md-3 text-center my-3 ">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'pearl-finish'})" >
                                <img src="images/megaimg\premium\5.jpg" class="img-fluid" alt="image">
                              </figure>
                         Pearl Finish</a>
                        </div>

                        <div class="col-lg-3 col-md-3 text-center my-3 ">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'sandwich-finish'})" >
                                <img src="images/megaimg\premium\6.jpg" class="img-fluid" alt="image">
                              </figure>
                           Sandwich Finish</a>
                          </div>
      
    
    
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" ui-sref="public.envirocards" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
                ENVIRO CARDS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row mr-2">
                      <div class="col-lg-3 col-md-3 text-center my-3">
                     
                          <figure>
                              <a  ui-sref="public.productbusinesscard({productname:'brown-kraft'})">
                              <img src="images/megaimg\enviro\1.jpg" class="img-fluid" alt="image">
                            </figure>
                       Brown Kraft</a>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center my-3">
                         
                            <figure>
                                <a  ui-sref="public.productbusinesscard({productname:'100%-recycle'})" ></a>
                                <img src="images/megaimg\enviro\2.jpg" class="img-fluid" alt="image">
                              </figure>
                        100% Recycle</a>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a  ui-sref="public.productbusinesscard({productname:'wool-finish'})">
                                <img src="images/megaimg\enviro\3.jpg" class="img-fluid" alt="image">
                              </figure>
                         Wool Finish</a>
                        </div>
    
    
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'black-suede'})" >
                                <img src="images/megaimg\enviro\4.jpg" class="img-fluid" alt="image">
                              </figure>
                          Black Suede</a>
                        </div>
    
    
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <img src="images/megaimg\enviro\5.jpg" class="img-fluid" alt="image">
                              </figure>
                          <a href="#" >Gray Coated</a>
                        </div>

                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <img src="images/megaimg\enviro\6.jpg" class="img-fluid" alt="image">
                              </figure>
                            <a href="#" >Color Card</a>
                          </div>
    
    
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" ui-sref="public.bespokecards" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
                BESPOKE CARDS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row mr-2">
                      <div class="col-lg-3 col-md-3 text-center my-3">
                          <figure>
                              <a ui-sref="public.productbusinesscard({productname:'electroplated'})">
                              <img src="images/megaimg\bespoke\1.jpeg" class="img-fluid" alt="image">
                            </figure>
                      
                       Electoplated</a>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'embossed'})" ></a>
                                <img src="images/megaimg\bespoke\2.jpeg" class="img-fluid" alt="image">
                              </figure>
                          
                        Embossed</a>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'embossed-spot-gloss'})">
                                <img src="images/megaimg\bespoke\3.jpg" class="img-fluid" alt="image">
                              </figure>
                      Embossed Spot Gloss</a>
                        </div>
    
    
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a  ui-sref="public.productbusinesscard({productname:'foiling'})" ></a>
                                <img src="images/megaimg\bespoke\4.jpg" class="img-fluid" alt="image">
                              </figure>
                        Foiling</a>
                        </div>
    
    
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'letterpress'})" ></a>
                                <img src="images/megaimg\bespoke\5.jpg" class="img-fluid" alt="image">
                              </figure>
                        Letterpress</a>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'edgepaint'})" >
                                <img src="images/megaimg\bespoke\6.jpg" class="img-fluid" alt="image">
                              </figure>
                         Edgepaint</a>
                          </div>
    
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropdown">
              <a class="dropdown-item dropdown-toggle" ui-sref="public.uniquecards" id="navbarSubDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
                UNIQUE CARDS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarSubDropdown">
                <li>
                  <div class="row mr-2">
                      <div class="col-lg-3 col-md-3 text-center my-3">
                     
                          <figure>
                              <a ui-sref="public.productbusinesscard({productname:'laser-cut-shaped-cards'})">
                              <img src="images/megaimg/unique/1.jpg" class="img-fluid" alt="image">
                            </figure>
                         Laser Cut Shaped Cards</a>
                        </div>
                        <div class="col-lg-3 col-md-3 text-center my-3 ">
                         
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'wood-cards'})" ></a>
                                <img src="images/megaimg/unique/2.jpg" class="img-fluid" alt="image">
                              </figure>
                        Wood Cards </a>
                        </div>

                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a ui-sref="public.productbusinesscard({productname:'acrylic-cards'})">
                                <img src="images/megaimg/unique/3.jpg" class="img-fluid" alt="image">
                              </figure>
                         Acrylic Cards</a>
                        </div>

                        <div class="col-lg-3 col-md-3 text-center my-3">
                            <figure>
                                <a  ui-sref="public.productbusinesscard({productname:'board-cards'})"></a>
                                <img src="images/megaimg/unique/4.jpg" class="img-fluid" alt="image">
                              </figure>
                          Board Cards</a>
                          </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Design
          </a>
          <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="container">
              <div class="row">
               
           
              <div class="row shop-dropdown-list">
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      
                      <div class="ml-3">
                        <h6><a ui-sref="public.businesscardsdesign">Business Cards Design</a></h6>
                      
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                      
                      <div class="ml-2">
                        <h6><a ui-sref="public.businesscardslogodesign">Business Cards + Logo Design</a></h6>
                       
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                  <ul class="nav flex-column list-unstyled">
                    <li class="nav-item d-flex align-items-center">
                     
                      <div class="ml-3">
                        <h6><a ui-sref="public.businesscardstemplatedesign">Design Using Templates</a></h6>
                       
                      </div>
                    </li>
                  </ul>
                </div>
               
                
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Good Things
              </a>
              <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="container">
                 
                  <div class="row shop-dropdown-list">
                    <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                      <ul class="nav flex-column list-unstyled">
                        <li class="nav-item d-flex align-items-center">
                          
                          <div class="ml-3">
                            <h6><a ui-sref="public.notebook">Notebook</a></h6>
                          
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                      <ul class="nav flex-column list-unstyled">
                        <li class="nav-item d-flex align-items-center">
                          
                          <div class="ml-2">
                            <h6><a ui-sref="public.coaters">Coaster</a></h6>
                           
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                      <ul class="nav flex-column list-unstyled">
                        <li class="nav-item d-flex align-items-center">
                         
                          <div class="ml-3">
                            <h6><a ui-sref="public.accessories">Accessories</a></h6>
                           
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                        <ul class="nav flex-column list-unstyled">
                          <li class="nav-item d-flex align-items-center">
                           
                            <div class="ml-3">
                              <h6><a ui-sref="public.businesscardholders">Business Card Holders</a></h6>
                             
                            </div>
                          </li>
                        </ul>
                      </div>
                   
                    
                  
                </div>
              </div>
      </li>


      <li class="nav-item ">
          <a class="nav-link "  ui-sref="public.samplepack"  id="" role="button"  >
             Sample Packs
            </a>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" ui-sref="public.help" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Help
                </a>
                <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <h6 class="shop-heading font-weight-bold mt-3 mb-0">FAQ'S</h6>
                      </div>
                    </div>
                    <div class="row shop-dropdown-list">
                      <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                        <ul class="nav flex-column list-unstyled">
                          <li class="nav-item d-flex align-items-center">
                            
                            <div class="ml-3">
                              <h6><a ui-sref="public.howtoorder">How To Order</a></h6>
                            
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                        <ul class="nav flex-column list-unstyled">
                          <li class="nav-item d-flex align-items-center">
                            
                            <div class="ml-2">
                              <h6><a ui-sref="public.filesetup">File Setup</a></h6>
                             
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                        <ul class="nav flex-column list-unstyled">
                          <li class="nav-item d-flex align-items-center">
                           
                            <div class="ml-3">
                              <h6><a  ui-sref="public.tracking">Tracking</a></h6>
                             
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                          <ul class="nav flex-column list-unstyled">
                            <li class="nav-item d-flex align-items-center">
                             
                              <div class="ml-3">
                                <h6><a ui-sref="public.treatments">Treatments</a></h6>
                               
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>


                      <div class="row">
                          <div class="col-12">
                            <h6 class="shop-heading font-weight-bold mt-3 mb-0">GET IN TOUCH</h6>
                          </div>
                        </div>
                        <div class="row shop-dropdown-list">
                          <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                            <ul class="nav flex-column list-unstyled">
                              <li class="nav-item d-flex align-items-center">
                                
                                <div class="ml-3">
                                  <h6><a ui-sref="public.getaquote">Get A Quote</a></h6>
                                
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                            <ul class="nav flex-column list-unstyled">
                              <li class="nav-item d-flex align-items-center">
                                
                                <div class="ml-2">
                                  <h6><a ui-sref="public.about">About</a></h6>
                                 
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-md-3 mt-lg-3 mt-md-3 mb-lg-3 mb-md-3 mt-0 mb-0">
                            <ul class="nav flex-column list-unstyled">
                              <li class="nav-item d-flex align-items-center">
                               
                                <div class="ml-3">
                                  <h6><a ui-sref="public.contact">Contact</a></h6>
                                 
                                </div>
                              </li>
                            </ul>
                          </div>
                     
                      
                    
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown position-relative">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Become A Partner
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a ui-sref="public.franchise" class="dropdown-item">Franchise</a></li>
                  <li><a ui-sref="public.reseller" class="dropdown-item"></i>Reseller</a></li>
                 
                </ul>
              </li>

            <li class="nav-item ">
                <a class="nav-link "ui-sref="public.blog"  id="" role="button"  >
                  Blog
                  </a>


     
    </ul>
  </div>
</ul>
</div><!-- container -->

